!!! 5
html(xmlns:ng="http://angularjs.org", data-ng-app=app, class="ng-app:" + app)#ng-app
  head
    base(target="_self")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title(ng-bind="$root.title")= title
    meta(name='description', content=description)
    meta(name='author', content=author)
    block viewport
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    block meta

    script.
      if(window.location.hash==='#_=_')window.location.hash='';var _s=new Date;window.env=!{JSON.stringify(env)};
    block styles
      each style in styles
        link(href=style, rel="stylesheet")
      style.
        .ng-cloak{display:none};
    block ie-shims
      // if lte IE 8
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js")
        //- TODO minify this
        include ./ie-fixes.js

  body(data-ng-controller="HyperController")
    block body

    block scripts
      each script in scripts
        script(src=script)

    script.
      if(window.metric&&metric.measure)metric.measure('page_load_time',(new Date-_s),'ms');
